* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12pt;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e0250;
    margin: 0;
    padding: 0;
}

.button-default {
    background-color: #a8043e;
    color: white;
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}

.button-default:hover {

}

.main-title {
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-title div {
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.main-title h1 {
    font-size: 20pt;
    color: #d5034c;
    font-style: italic;
}

.main-title p {
    color: white;
}

.start-game {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: end;
    padding: 10px 15px;
    align-items: center;
    background-color: #a8043e;
    height: 60px;
}

.header nav {
    display: none;
}

.header nav a {
    color: white;
    text-decoration: none;
    margin: 8px;
    font-weight: 700;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
    width: 160px;
}

.header nav a.active, .header nav a:hover {
    background-color: #1e0250;
}

.header nav a p {
    font-weight: 700;
    font-size: 14pt;
}

.header nav a svg {
    width: 30px;
    margin-right: 8px;
}

.header nav a svg path {
    fill: white;
}

.header nav.active {
    background-color: #a8043e;
    display: flex;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header nav .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
    width: 100%;
}

.header .toggle:hover {
    cursor: pointer;
}

.header .toggle svg
{
    width: 40px;
}
.header .toggle svg path {
    fill: white;
}


.header .toggle .hidden {
    display: none;
}

@media only screen and (min-width: 991px) {
    .header .toggle {
        display: none;
    }

    .header nav {
        display: flex;
        position: relative;
        margin: 0;
    }

    .header nav.active {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
    }

    .header nav .nav-items {
        margin: 0;
        flex-direction: row;
    }

    .header nav a {
        color: white;
        text-decoration: none;
        margin: 8px;
        font-weight: 700;
        font-size: 14pt;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 12px;
        border-radius: 12px;
        width: auto;
    }

    .header nav a p {
        font-weight: 600;
        font-size: 12pt;
    }

    .header nav a svg {
        width: 25px;
    }
}